[user]
	name = Kolton Andrus
	email = kolton@gremlininc.com
[core]
	editor = vim
	excludesfile = /Users/kolton/.gitignore
[color]
	ui = true
[alias]
    br = branch -a
    bd = branch -d
    co = checkout -b 
    cam = commit -a -m 
    sw = checkout
    rh = reset --hard
    s = status -s -u
    d = diff --color-words
    who = shortlog -s --
    vlog = log -p
    slog = log --oneline --decorate
    lg = log --graph
    lpo = log --pretty=oneline --abbrev-commit --graph --decorate --all
    reup = pull --rebase
    busy = shortlog -6
    busyweek = shortlog --since=one.week.ago
     
[push]
	default = matching
